[submodule ".vim/pack/my-plugins/start/gundo"]
	path = .vim/pack/my-plugins/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/pack/my-plugins/start/vim-fugitive"]
	path = .vim/pack/my-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/my-plugins/start/vim-airline"]
	path = .vim/pack/my-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/my-plugins/start/vim-airline-themes"]
	path = .vim/pack/my-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/my-plugins/start/vim-nerdtree"]
	path = .vim/pack/my-plugins/start/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/my-plugins/start/vim-tender-color"]
	path = .vim/pack/my-plugins/start/vim-tender-color
	url = https://github.com/jacoborus/tender.vim.git
[submodule ".vim/pack/my-plugins/start/vim-anderson-color"]
	path = .vim/pack/my-plugins/start/vim-anderson-color
	url = https://github.com/tlhr/anderson.vim.git
[submodule ".vim/pack/my-plugins/start/vim-ctrlp"]
	path = .vim/pack/my-plugins/start/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/my-plugins/start/vim-syntastic"]
	path = .vim/pack/my-plugins/start/vim-syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/my-plugins/start/vim-rust"]
	path = .vim/pack/my-plugins/start/vim-rust
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/my-plugins/start/vim-nerdcommenter"]
	path = .vim/pack/my-plugins/start/vim-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/pack/my-plugins/start/vim-snippets"]
	path = .vim/pack/my-plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/pack/my-plugins/start/vim-ultisnips"]
	path = .vim/pack/my-plugins/start/vim-ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/my-plugins/start/vim-surround"]
	path = .vim/pack/my-plugins/start/vim-surround
	url = https://tpope.io/vim/surround.git
[submodule ".vim/pack/my-plugins/start/vim-YCM"]
	path = .vim/pack/my-plugins/start/vim-YCM
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/pack/my-plugins/start/vim-autopair"]
	path = .vim/pack/my-plugins/start/vim-autopair
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/my-plugins/start/vim-potato-color"]
	path = .vim/pack/my-plugins/start/vim-potato-color
	url = https://github.com/benburrill/potato-colors.git
[submodule ".vim/pack/my-plugins/start/vim-kuroi-color"]
	path = .vim/pack/my-plugins/start/vim-kuroi-color
	url = https://github.com/aonemd/kuroi.vim.git
[submodule ".vim/pack/my-plugins/start/vim-gruvbox-color"]
	path = .vim/pack/my-plugins/start/vim-gruvbox-color
	url = https://github.com/morhetz/gruvbox.git
