*foreground: #efdfdf
*background: #14171a 
*cursorColor: #efdfdf


URxvt.font: xft:Hack:size=8,xft:FontAwesome
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 25

rofi.color-enabled: true
rofi.color-window: #1c1c22, #3e646f, #3e646f
rofi.color-normal: #1c1c22, #d9d6ca, #85aab6, #d9d6ca, #78824B
rofi.color-active: #1c1c22, #d9d6ca, #85aab6, #d9d6ca, #78824B
rofi.color-urgent: #1c1c22, #d9d6ca, #85aab6, #d9d6ca, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 8
rofi.font: Source Code Pro Semibold 10.5
rofi.bw: 1
rofi.columns: 1
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true

Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96
